<div class="main">
    <div class="white-div">
        <p class="text">
            Search for an artist:
        </p>
        <form class="wrap">
            <div class="search">
                <input name="searchTerm" type="text" placeholder="Search..." size="60" style="padding: 5px 10px; line-height: 26px;"
            [(ngModel)]="searchTerm" (input)="search($event.target.value)" />
            </div>
        </form>
        <br>

        <div class="artist-info-list">
            <div *ngFor="let artist of searchArtists | searchFilter: searchTerm; index as i">
                <app-artist-info [name]="artist.name" [fburl]="artist.facebookurl"></app-artist-info>
            </div>

        </div>
    </div>
    <br><br><br><br>
</div>