/* You can add global styles to this file, and also import other style files */
/* #242F40 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
html {
    background-color: white;
    color: #363636;
    font-family: "Nanum Gothic";
}

.white-div {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
}

.name {
    font-size: 50px;
}

.text {
    font-size: 20px;
}