/* You can add global styles to this file, and also import other style files */
/* #242F40 

{"Dark Jungle Green":"011A1F","Palatinate Purple":"673269","Queen Blue":"4F6E94","Mulberry Crayola":"C74C95","Lavender Gray":"C6CAD4"}



*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
html {
    background-color: #C6CAD4;
    color: #363636;
    font-family: "Maven Pro";
}
